<ion-toolbar>
    <ion-icon slot="start" name="chevron-back-outline" [routerLink]="['/']" routerLinkActive="router-link-active" ></ion-icon>
    <ion-title slot="end">FAQs</ion-title>
  </ion-toolbar>



<ion-content>

<div class="container">
  <div class="image-container">
    <img src="./assets/Shrug-bro.svg" alt="">
  </div>
</div>


<ion-buttons slot="start">
  <ion-button [routerLink]="['/']" routerLinkActive="router-link-active" >Close</ion-button>
</ion-buttons>

<div class="transformbox">



</div>


  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterFaqs()"></ion-searchbar>

  <ion-list *ngIf="filteredFaqs && filteredFaqs.length > 0">
    <ion-item detail="true" *ngFor="let faq of filteredFaqs" (click)="openModal(faq)">
      <ion-label>
        <h3>{{ faq.question }}</h3>
        <p>{{ faq.answer.slice(0, 50) }}...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="!filteredFaqs || filteredFaqs.length === 0">No matching FAQs.</ion-text>
</ion-content>
