
<ion-header>

  <style>

swiper-container {

  margin-bottom: 5%;
}

.swiperslide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./assets/depositphotos_180840550-stock-photo-judge-gavel-on-a-blue.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    color: white;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}


.swiperslide2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
    url('./assets/depositphotos_170344420-stock-photo-wooden-background.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    color: white;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.swiperslide3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./assets/depositphotos_170344426-stock-photo-wooden-background.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    color: white;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner-container {
    overflow: hidden;
}

.announcement-slider {
    display: flex;
    width: 300%; /* Adjust based on the number of announcements */
    animation: slide 10s infinite linear;
}

.announcement {
    flex: 1;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
    box-sizing: border-box;
}


.container12 .column1 {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow */
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background-size: cover;
  background-image:linear-gradient(to bottom, rgba(16, 16, 16, 0.52), rgba(8, 8, 8, 0.73)),
    url('./assets/depositphotos_180840550-stock-photo-judge-gavel-on-a-blue.jpg');
  
    width: 80%;
    height: 200px;
    background-size: cover;
    color: white;
    text-align: center;

    p{
      color: white;
      transform: translateY(60px);
    }
}

.container12 .column2 {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow */
  border-radius: 10px;
  margin: 10px;
  height: 160px;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
  background-size: cover;
  color: white;
  text-align: center;  
  background-image:
    linear-gradient(to bottom, rgba(16, 16, 16, 0.52), rgba(8, 8, 8, 0.73)),
    url('./assets/depositphotos_182968484-stock-photo-top-view-business-workplace-home.jpg');

    p{
      color: white;
      transform: translateY(60px);
    }
  
}











.container13 {
  display: flex;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px; 
  transform: translateY(-19%);



}

.container13 .column1 {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow */
  border-radius: 10px;
  margin: 10px;
  height: 160px;
  padding: 20px;
  background-color: black;
  box-sizing: border-box;
  background-size: cover;
  background-image:linear-gradient(to bottom, rgba(16, 15, 15, 0.52), rgba(8, 8, 8, 0.73)),
    url('./assets/');
  
    width: 80%;
    height: 200px;
    background-size: cover;
    color: white;
   
    text-align: center;
    p{
      color: white;
      transform: translateY(60px);
    }

  }

.container13 .column2 {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow */
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-20%);
  background-color: black;
  color: white  ;
  text-align: center;
  background-color: black;
  box-sizing: border-box;
  background-size: cover;
  transform: translateY(-20px);
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(8, 8, 8, 0.73)),
    url('./assets/depositphotos_263984522-stock-photo-top-view-arranged-colorful-paper.jpg');
    p{
      color: white;
      transform: translateY(60px);
    }

}

.container12 {
  display: flex;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;   

}

.banner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin:  auto;
  overflow: hidden;
  border-radius: 10px;

}

.banner img {
  width: 100%;
  height: auto;
  display: block;
 
}

.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  /* Adjust the max-width and other styles for larger devices */
  .banner {
    max-width: 800px; /* Adjust as needed for larger devices */
  }
}

    .banner h1 {
      font-size: 2em;
      margin-bottom: 10px;
    }

    .banner p {
      font-size: 1.2em;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      .banner h1 {
        font-size: 1.5em;
      }

      .banner p {
        font-size: 1em;
      }
    }


    ion-col {
  background-color: white !important;
  border: solid 1px #fff;
  color: #d28383;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

h1{
  color: black;
  margin-left: 10px;

}

.box{
  border-color: #46464D;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}


ion-card{
  --ion-background-color: #3498db; /* Change this to your desired color */
  --ion-border-color: #red; /* Change this to your desired color */

}

ion-avatar img {
  margin-top: 25px;
  width: 25px;
  height: 25px;
}

  </style>
 </ion-header>


<ion-content [fullscreen]="true">

  <div class="flex items-center py-4 overflow-x-auto whitespace-nowrap">
    <a class="text-gray-600 dark:text-gray-200 pl-5" >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
        </svg>
    </a>

    <span class="mx-5 text-gray-500 dark:text-gray-300">
        /
    </span>

    <a href="#" class="texxt-gray-600 dark:text-gray-200 hover:underline">
        Home
    </a>

   

</div>

  <ion-grid>
    <ion-row>
      <H1 style="color: #1E004F;">Welcome</H1>
      <ion-col></ion-col>

        <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-row>
  </ion-grid>
  



  
    
    <div *ngIf="showSkeleton; else realContent" class="skeleton-container">
      
        <div class="w-1/3 bg-gray-300 dark:bg-gray-600"></div>
        <div class="w-2/3 p-4 md:p-4">
          <!-- ... (Skeleton content) ... -->
          <div class="flex w-full max-w-md mx-auto overflow-hidden bg-white rounded-lg shadow-lg animate-pulse dark:bg-gray-800">
  
            <div class="w-1/3 bg-gray-300 dark:bg-gray-600"></div>
        
            <div class="w-2/3 p-4 md:p-4">
                <p class="w-10 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
            </div>
        </div>
  <!-- Skeleton Content -->

        </div>
      </div>
      
      
      <ng-template #realContent>
        <!-- Real Content (Hidden initially) -->
        <div id="realContent" class="w-3/3 p-4 md:p-4">
          <!-- ... (Real content) ... -->
          <div class="banner">
            <img src="./assets/depositphotos_180840550-stock-photo-judge-gavel-on-a-blue.jpg" alt="Banner Image">
            <div class="overlay">
          
            </div>
          </div>
        </div>
      </ng-template>
    
      



      <h1 class=" p-5 text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white" style="color: #1E004F;">Explore <br>Estoppel Attorneys</h1>
    
      <p class="pl-8 mt-4 text-gray-700 xl:mt-6 dark:text-gray-300" >
        Excellence is the cornerstone of our legal expertise
      </p>









      <div class="container12">
        <div class="column1" routerLink="/overview">
         <p>Our law firm </p>
        
        </div>
        
        <div class="column2" routerLink="/practice-areas">
         
          <p>Services</p>
         </div>
   
        
      </div>

  
 
      <div class="container13" >
        <div class="column1" routerLink="/our">
         <p>Partners</p>
        </div>
        
        <div class="column2" routerLink="/faqs">
          <p>Client Faq</p>
        </div>
        
      </div>

         
      
      

      <section class="bg-white dark:bg-gray-900">
        <div class="container px-6 py-10 mx-auto">
        
    
            <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
                <div class="p-8 space-y-3 border-2 border-purple-500 dark:border-blue-300 rounded-xl">
                    <span class="inline-block text-purple-500 dark:text-blue-400">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </span>
    
                    <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">We are Committed</h1>
    
                    <p class="text-gray-500 dark:text-gray-300">
                      Committed to delivering exceptional legal expertise with unwavering dedication, our law firm stands by you every step of the way 
                    </p>
    
                   
                </div>
    
                <div class="p-8 space-y-3 border-2 border-purple-500 dark:border-blue-300 rounded-xl">
                    <span class="inline-block text-purple-500 dark:text-blue-400">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
                        </svg>
                    </span>
    
                    <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Team Work</h1>
    
                    <p class="text-gray-500 dark:text-gray-300">
                      At our law firm, collaboration is at the heart of our success. Our dedicated team of legal professionals works seamlessly together, pooling diverse skills and expertise to provide you with comprehensive and effective legal solutions.
                    </p>
    
                   
                </div>
    
            
            </div>
        </div>
    </section>

    <swiper-container 
    [loop]="true" [autoplay]="true">
      <swiper-slide class="swiperslide1">Explore Our Latest Legal Insights and Updates</swiper-slide>
      <swiper-slide class="swiperslide2">Stay Informed with Our Legal Updates</swiper-slide>
      <swiper-slide class="swiperslide3">Protecting Your Rights, Ensuring Justice</swiper-slide>
    </swiper-container>



</ion-content>
